<!DOCTYPE html>
<html class="google mmfb" dir="ltr" lang="en">
  <head>

    <script>
    (function(H){H.className=H.className.replace(/\bgoogle\b/,'google-js')})(document.documentElement)
    </script>
    <meta charset="utf-8">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <title>
      Google Analytics - Mobile, Premium and Free Website Analytics &#8211; Google
    </title>
    <meta content=
    "Get the data you need to make intelligent marketing and business decisions with Google Analytics. Available for websites, apps, and enterprise businesses."
    name="description">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;lang=en" rel=
    "stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:300,400,500&amp;lang=en" rel=
    "stylesheet">
    <link href="//fonts.googleapis.com/css?family=Product+Sans:400&amp;lang=en" rel="stylesheet">
    <link href="../analytics/css/funnel.min.css" rel="stylesheet">
    <script src="//www.gstatic.com/external_hosted/modernizr/v2_8_3/basic.js">
    </script>
    <link href="/analytics/images/shared/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta content="TYdaWbaNwybjhDFtA-1V3V15w_AZ5U8jsMsciH4eiUg" name="google-site-verification">
    <style>
    iframe.c2 {display:none;visibility:hidden}
    svg.c1 {enable-background:new 0 0 23 15;}
    </style>
  </head>
  <body data-ng-app="rs.analytics">
    <header class="header" role="banner">
      <h1 class="product-logo">
        <a data-g-action="Analytics Solutions" data-g-event="Home" data-g-label="Global Nav Logo"
        href="../analytics/"><img alt="Google" src=
        "//www.google.com/images/branding/googlelogo/1x/googlelogo_color_116x41dp.png" srcset=
        "//www.google.com/images/branding/googlelogo/2x/googlelogo_color_116x41dp.png 2x">
        <span class="site-name">Analytics Solutions</span></a>
      </h1>
      <nav class="main-navigation no-cta" data-ng-controller="rs.navigation.NavCtrl as navCtrl">
        <h1>
          Analytics Solutions
        </h1>
        <ul>
          <li ng-class="{'active': $currentItem == 1}" ng-click="$currentItem = 1">
            <a class="gweb-smoothscroll-control" data-g-action="Category Nav" data-g-event="Home"
            data-g-label="Small Business" href="#small-business">Small Business</a>
          </li>
          <li ng-class="{'active': $currentItem == 2}" ng-click="$currentItem = 2">
            <a class="gweb-smoothscroll-control" data-g-action="Category Nav" data-g-event="Home"
            data-g-label="Enterprise" href="#enterprise">Enterprise</a>
          </li>
          <li ng-class="{'active': $currentItem == 3}" ng-click="$currentItem = 3">
            <a class="gweb-smoothscroll-control" data-g-action="Category Nav" data-g-event="Home"
            data-g-label="Mobile Apps" href="#mobile-apps">Mobile Apps</a>
          </li>
        </ul>
        <div class="nav-dropdown-wrapper" data-rs-popupmenu="" ng-cloak="">
          <a class="nav-dropdown-trigger" data-g-action="Sign In Menu" data-g-event="Home"
          data-g-label="Global Nav CTA" ng-click="dropdownExpanded = !dropdownExpanded">Sign in
          <svg class="icon-arrow-down" enable-background="new 0 0 32 32" height="12px" version=
          "1.1" viewbox="0 0 32 32" width="12px" x="0px" xml:space="preserve" xmlns=
          "http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
          <polygon points="28.2,6.1 16,18.3 3.8,6.1 0,9.9 16,25.9 32,9.9"></polygon></svg>
          <img alt="" class="icon-arrow-down" height="12" src=
          "//www.google.com/ads/images/icons/icon-arrow-down.png" width="12"></a>
          <div class="nav-dropdown" ng-class="{'nav-dropdown-expanded': dropdownExpanded}">
            <a class="nav-dropdown-close" ng-click="dropdownExpanded = false"><svg class=
            "icon-arrow-down" enable-background="new 0 0 32 32" height="12px" version="1.1"
            viewbox="0 0 32 32" width="12px" x="0px" xml:space="preserve" xmlns=
            "http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
            <polygon points="28.2,6.1 16,18.3 3.8,6.1 0,9.9 16,25.9 32,9.9"></polygon></svg>
            <img alt="" class="icon-arrow-down" height="12" src=
            "//www.google.com/ads/images/icons/icon-arrow-down.png" width="12"></a>
            <ul>
              <li>
                <a data-g-action="GA 360 Suite Sign In" data-g-event="Home" data-g-label=
                "Global Nav CTA" href="https://360suite.google.com/">Google Analytics 360 Suite</a>
              </li>
              <li>
                <a data-g-action="GA Premium Sign In" data-g-event="Home" data-g-label=
                "Global Nav CTA" href="https://analytics.google.com/">Google Analytics Premium</a>
              </li>
              <li>
                <a data-g-action="Adometry Sign In" data-g-event="Home" data-g-label=
                "Global Nav CTA" href="https://attribute.adometry.com/?hl=en">Adometry by
                Google</a>
              </li>
              <li>
                <a data-g-action="GA Sign In" data-g-event="Home" data-g-label="Global Nav CTA"
                href="https://analytics.google.com/">Google Analytics</a>
              </li>
              <li>
                <a data-g-action="GTM Sign In" data-g-event="Home" data-g-label="Global Nav CTA"
                href="https://tagmanager.google.com/?hl=en">Google Tag Manager</a>
              </li>
              <li>
                <a data-g-action="Data Studio Sign In" data-g-event="Home" data-g-label=
                "Global Nav CTA" href="https://datastudio.google.com/?hl=en">Google Data Studio</a>
              </li>
            </ul>
          </div>
        </div>
      </nav><button class="nav-toggle-button"><span class="icon-menu-els"><span class=
      "menu-bar"></span> <span class="menu-bar"></span> <span class=
      "menu-bar"></span></span></button>
    </header>
    <div class="main" role="main">
      <section class="section section-hero light-gray">
        <div class="site-width">
          <div class="cols-row">
            <div class="section-hero-copy col-5">
              <h1 class="cta-main">
                Turn insights into action.
              </h1>
              <p class="font-large">
                Get stronger results across all your sites, apps and offline channels. Google&#8217;s
                analytics solutions help you turn customer insights into real gains.
              </p>
            </div>
          </div>
        </div>
        <div class="section-hero-media section-hero-media-right">
          <div class="hero-image hero-img"></div>
        </div><a class="fab fab-bottom-center google-blue gweb-smoothscroll-control" data-g-action=
        "Scroll Button" data-g-event="Home" data-g-label="Canvas" href="#section-quote"><svg class=
        "icon-fab-scroll" enable-background="new 0 0 32 32" height="14px" version="1.1" viewbox=
        "0 0 32 32" width="14px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
        <polygon points="28.2,6.1 16,18.3 3.8,6.1 0,9.9 16,25.9 32,9.9"></polygon></svg> <img alt=
        "" class="icon-fab-scroll" height="14" src=
        "//www.google.com/ads/images/icons/icon-fab-scroll.png" width="14"></a>
      </section>
      <section class="section section-dark section-quote google-blue" id="section-quote">
        <div class="site-width">
          <div class="cols-row">
            <div class="col-12">
              <blockquote class="hanging">
                &#8220;Google&#8217;s analytics products helped us improve engagement by 33<sup>%</sup> and
                click-throughs by 21<sup>%</sup> for content promotions on our homepage.&#8221;
              </blockquote><cite class="font-medium"><strong>Mia Vallo</strong> - Sr. Director,
              Marketing Analytics, National Geographic</cite>
              <p class="vertical-offset">
                <a class="link-more" data-g-action="Learn More About Analytics 360" data-g-event=
                "Home" data-g-label="Learn more about Analytics 360" href="360-suite/">Learn more
                about Analytics 360 <svg class="icon-arrow-more" enable-background="new 0 0 32 32"
                height="14px" version="1.1" viewbox="0 0 32 32" width="14px" x="0px" xml:space=
                "preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                "http://www.w3.org/1999/xlink" y="0px">
                <path d=
                "M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16c8.8,0,16-7.2,16-16S24.8,0,16,0 M16,25.7L14.3,24l6.8-6.8H7v-2.4h14.1L14.3,8L16,6.3 l9.7,9.7L16,25.7z">
                </path></svg></a>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-small-business" id="small-business">
        <div class="site-width">
          <div class="cols-row">
            <div class="col-9">
              <div class="cols-row">
                <div class="col-12" data-rs-trigger="smallBusinessAnimation">
                  <h4 class="section-sub-heading border-yellow">
                    For Small Business
                  </h4>
                  <h2>
                    Free solutions to help your business grow.
                  </h2>
                  <p class="font-large">
                    Explore new ways to see what&#8217;s working and fix what&#8217;s not.
                  </p>
                </div>
              </div>
              <div class="hidden-s section-image-s">
                <picture><source media="(min-width: 768px)" srcset=
                "data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAICAgICAgICAgIDAgICAwQDAgIDBAUEBAQEBAUGBQUFBQUFBgYHBwgHBwYJCQoKCQkMDAwMDAwMDAwMDAwMDAz/2wBDAQMDAwUEBQkGBgkNCgkKDQ8ODg4ODw8MDAwMDA8PDAwMDAwMDwwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAACAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABQQAQAAAAAAAAAAAAAAAAAAAAD/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AfwH/2Q==">
                <img alt="" class="" srcset=
                "../analytics/images/funnel/small-business_m_1x.png, ../analytics/images/funnel/small-business_m_2x.png 2x">
                </picture>
              </div>
              <div class="cols-row cards">
                <div class="col-4 col-m-4">
                  <div class="card card-related card-light-gray">
                    <a class="card-inner" data-g-action="Google Analytics" data-g-event="Home"
                    data-g-label="For Small Business" href=
                    "../analytics/standard/"><picture><source media="(min-width: 768px)" srcset=
                    "../analytics/images/icons/analytics_1x.png, ../analytics/images/icons/analytics_2x.png 2x">
                    <img alt="" class="product-logo" srcset=
                    "../analytics/images/icons/analytics_m_1x.png, ../analytics/images/icons/analytics_m_2x.png 2x">
                    </picture>
                    <h3>
                      Google Analytics
                    </h3>
                    <p class="last">
                      Get the insights you need to improve your small business. For free.
                    </p><svg class="icon-arrow-related" enable-background="new 0 0 32 32" height=
                    "16px" version="1.1" viewbox="0 0 32 32" width="16px" x="0px" xml:space=
                    "preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                    "http://www.w3.org/1999/xlink" y="0px">
                    <polygon points=
                    "16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
                    </polygon></svg> <img alt="" class="icon-arrow-related" height="16" src=
                    "//www.google.com/ads/images/icons/icon-arrow-related.png" width="16"></a>
                  </div><a class="button cta-main" data-g-action="Sign Up" data-g-event="Home"
                  data-g-label="Analytics Standard" href="https://analytics.google.com?hl=en">Get
                  started</a>
                </div>
                <div class="col-4 col-m-4 col-mobile-vertical-offset">
                  <div class="card card-related card-light-gray">
                    <a class="card-inner" data-g-action="Tag Manager" data-g-event="Home"
                    data-g-label="For Small Business" href=
                    "../analytics/tag-manager/"><picture><source media="(min-width: 768px)" srcset=
                    "../analytics/images/icons/tagmanager_1x.png, ../analytics/images/icons/tagmanager_2x.png 2x">
                    <img alt="" class="product-logo" srcset=
                    "../analytics/images/icons/tagmanager_m_1x.png, ../analytics/images/icons/tagmanager_m_2x.png 2x">
                    </picture>
                    <h3>
                      Google Tag<br>
                      Manager
                    </h3>
                    <p class="last">
                      Update your website tags easily, without having to edit code.
                    </p><svg class="icon-arrow-related" enable-background="new 0 0 32 32" height=
                    "16px" version="1.1" viewbox="0 0 32 32" width="16px" x="0px" xml:space=
                    "preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                    "http://www.w3.org/1999/xlink" y="0px">
                    <polygon points=
                    "16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
                    </polygon></svg> <img alt="" class="icon-arrow-related" height="16" src=
                    "//www.google.com/ads/images/icons/icon-arrow-related.png" width="16"></a>
                  </div><a class="button cta-main" data-g-action="Sign Up" data-g-event="Home"
                  data-g-label="Tag Manager" href="https://tagmanager.google.com?hl=en">Get
                  Started</a>
                </div>
                <div class="col-4 col-m-4 col-mobile-vertical-offset">
                  <div class="card card-related card-light-gray">
                    <a class="card-inner" data-g-action="Data Studio" data-g-event="Home"
                    data-g-label="For Small Business" href="../analytics/data-studio/"><img alt=""
                    class="product-logo" src="/ads/images/icons/icon-product-datastudio-64.png">
                    <h3>
                      Google Data Studio
                    </h3>
                    <p class="last">
                      Empower everyone to tell better stories and make better decisions with data.
                    </p><svg class="icon-arrow-related" enable-background="new 0 0 32 32" height=
                    "16px" version="1.1" viewbox="0 0 32 32" width="16px" x="0px" xml:space=
                    "preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                    "http://www.w3.org/1999/xlink" y="0px">
                    <polygon points=
                    "16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
                    </polygon></svg> <img alt="" class="icon-arrow-related" height="16" src=
                    "//www.google.com/ads/images/icons/icon-arrow-related.png" width="16"></a>
                  </div><a class="button cta-main" data-g-action="Sign Up" data-g-event="Home"
                  data-g-label="Data Studio" href="https://datastudio.google.com?hl=en">Try it
                  now</a>
                </div>
              </div>
            </div>
            <div class="col-2 section-image">
              <picture><source media="(min-width: 768px)" srcset=
              "../analytics/images/funnel/small-business_1x.png, ../analytics/images/funnel/small-business_2x.png 2x">
              <img alt="" class="device-animation small-business-laptop" data-class-name=
              'device-animation' data-rs-active='smallBusinessAnimation' data-rs-trigger-class=
              'device-animation' srcset=
              "data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAICAgICAgICAgIDAgICAwQDAgIDBAUEBAQEBAUGBQUFBQUFBgYHBwgHBwYJCQoKCQkMDAwMDAwMDAwMDAwMDAz/2wBDAQMDAwUEBQkGBgkNCgkKDQ8ODg4ODw8MDAwMDA8PDAwMDAwMDwwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAACAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABQQAQAAAAAAAAAAAAAAAAAAAAD/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AfwH/2Q==">
              </picture>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-enterprise light-gray" id="enterprise">
        <div class="site-width">
          <h4 class="section-sub-heading border-yellow">
            For Enterprise
          </h4>
          <div class="cols-row">
            <div class="col-6">
              <div class="cols-row">
                <div class="col-12">
                  <h2>
                    Advanced solutions for large companies.
                  </h2>
                  <p class="font-large">
                    Introducing the Google Analytics 360 Suite, a set of integrated data and
                    marketing analytics products, designed for the needs of marketers in the
                    world's largest companies.
                  </p>
                  <p>
                    <a class="link-more" data-g-action="Learn More" data-g-event="Home"
                    data-g-label="For Enterprise" href="../analytics/360-suite/">Learn More
                    <svg class="icon-arrow-more" enable-background="new 0 0 32 32" height="14px"
                    version="1.1" viewbox="0 0 32 32" width="14px" x="0px" xml:space="preserve"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    y="0px">
                    <path d=
                    "M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16c8.8,0,16-7.2,16-16S24.8,0,16,0 M16,25.7L14.3,24l6.8-6.8H7v-2.4h14.1L14.3,8L16,6.3 l9.7,9.7L16,25.7z">
                    </path></svg></a>
                  </p>
                  <div class="for-enterprise-success-card card card-success card-light-gray">
                    <div class="card-inner">
                      <div class="card-success-video">
                        <a class="fab google-red" data-g-action="Anthem - Video Start"
                        data-g-event="Home" data-g-label="For Enterprise"
                        data-glue-modal-disabled-on-mobile="true" data-glue-modal-trigger=
                        "ss-yt-PeBf__0CEcg" href=
                        "https://www.youtube.com/watch?v=PeBf__0CEcg"><svg class="icon-fab-video"
                        enable-background="new 0 0 32 32" height="24px" version="1.1" viewbox=
                        "0 0 32 32" width="24px" x="0px" xml:space="preserve" xmlns=
                        "http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y=
                        "0px">
                        <path d=
                        "M28.8,3.8c-1-0.3-6.9-0.6-12.8-0.6c-5.9,0-11.8,0.3-12.8,0.6C0.7,4.6,0,10.2,0,16s0.7,11.4,3.2,12.2c1,0.3,6.9,0.6,12.8,0.6 c5.9,0,11.8-0.3,12.8-0.6C31.3,27.4,32,21.8,32,16S31.3,4.7,28.8,3.8 M12.8,22.4V9.6l8.8,6.4L12.8,22.4z">
                        </path></svg> <img alt="" class="icon-fab-video" height="24" src=
                        "//www.google.com/ads/images/icons/icon-fab-video.png" width="24"></a>
                        <div data-glue-modal="ss-yt-PeBf__0CEcg" data-rs-modal="" id=
                        "ss-yt-PeBf__0CEcg">
                          <iframe allowfullscreen="" frameborder="0" height="100%" src=
                          "https://www.youtube.com/embed/PeBf__0CEcg?enablejsapi=1&amp;rel=0" type=
                          "text/html" width="100%"></iframe>
                        </div><picture><source media="(min-width: 768px)" srcset=
                        "../analytics/images/home/analytics-360-suite-video_1x.jpg, ../analytics/images/home/analytics-360-suite-video_2x.jpg 2x">
                        <img alt="" class="img-incol" srcset=
                        "../analytics/images/home/analytics-360-suite-video_m_1x.jpg, ../analytics/images/home/analytics-360-suite-video_m_2x.jpg 2x">
                        </picture>
                      </div>
                      <div class="card-success-content">
                        <h3>
                          Hear from our customers.
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 col-offset-1 product-list">
              <div>
                <picture><source media="(min-width: 768px)" srcset=
                "../analytics/images/360-suite/icon_large_1x.png, ../analytics/images/360-suite/icon_large_2x.png 2x">
                <img alt="" class="" srcset=
                "../analytics/images/360-suite/icon_large_m_1x.png, ../analytics/images/360-suite/icon_large_m_2x.png 2x">
                </picture>
              </div>
              <div class="product">
                <a class="font-huge" data-g-action="Analytics 360" data-g-event="Home"
                data-g-label="For Enterprise" href="../analytics/360-suite/analytics/">Analytics
                360 <svg class="icon-arrow-related" enable-background="new 0 0 32 32" height="18px"
                version="1.1" viewbox="0 0 32 32" width="18px" x="0px" xml:space="preserve" xmlns=
                "http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <polygon points="16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
                </polygon></svg> <img alt="" class="icon-arrow-related" height="18" src=
                "//www.google.com/ads/images/icons/icon-arrow-related.png" width="18"></a>
                <p class="font-medium-small">
                  Gain new insight with a total view of the customer experience.
                </p>
              </div>
              <div class="product">
                <a class="font-huge" data-g-action="Tag Manager 360" data-g-event="Home"
                data-g-label="For Enterprise" href="../analytics/360-suite/tag-manager/">Tag
                Manager 360 <svg class="icon-arrow-related" enable-background="new 0 0 32 32"
                height="18px" version="1.1" viewbox="0 0 32 32" width="18px" x="0px" xml:space=
                "preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                "http://www.w3.org/1999/xlink" y="0px">
                <polygon points="16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
                </polygon></svg> <img alt="" class="icon-arrow-related" height="18" src=
                "//www.google.com/ads/images/icons/icon-arrow-related.png" width="18"></a>
                <p class="font-medium-small">
                  Get more data and less hassle with powerful APIs and partnerships.
                </p>
              </div>
              <div class="product">
                <a class="font-huge" data-g-action="Optimize 360" data-g-event="Home" data-g-label=
                "For Enterprise" href="../analytics/360-suite/optimize/">Optimize 360 (beta)
                <svg class="icon-arrow-related" enable-background="new 0 0 32 32" height="18px"
                version="1.1" viewbox="0 0 32 32" width="18px" x="0px" xml:space="preserve" xmlns=
                "http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <polygon points="16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
                </polygon></svg> <img alt="" class="icon-arrow-related" height="18" src=
                "//www.google.com/ads/images/icons/icon-arrow-related.png" width="18"></a>
                <p class="font-medium-small">
                  Test and deliver more personal experiences on your site.
                </p>
              </div>
              <div class="product">
                <a class="font-huge" data-g-action="Attribution 360" data-g-event="Home"
                data-g-label="For Enterprise" href=
                "../analytics/360-suite/attribution/">Attribution 360 <svg class=
                "icon-arrow-related" enable-background="new 0 0 32 32" height="18px" version="1.1"
                viewbox="0 0 32 32" width="18px" x="0px" xml:space="preserve" xmlns=
                "http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <polygon points="16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
                </polygon></svg> <img alt="" class="icon-arrow-related" height="18" src=
                "//www.google.com/ads/images/icons/icon-arrow-related.png" width="18"></a>
                <p class="font-medium-small">
                  Discover the true value of all your marketing channels.
                </p>
              </div>
              <div class="product">
                <a class="font-huge" data-g-action="Audience Center 360" data-g-event="Home"
                data-g-label="For Enterprise" href=
                "../analytics/360-suite/audience-center/">Audience Center 360 (beta) <svg class=
                "icon-arrow-related" enable-background="new 0 0 32 32" height="18px" version="1.1"
                viewbox="0 0 32 32" width="18px" x="0px" xml:space="preserve" xmlns=
                "http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <polygon points="16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
                </polygon></svg> <img alt="" class="icon-arrow-related" height="18" src=
                "//www.google.com/ads/images/icons/icon-arrow-related.png" width="18"></a>
                <p class="font-medium-small">
                  Match the right people with the right message.
                </p>
              </div>
              <div class="product">
                <a class="font-huge" data-g-action="Data Studio 360" data-g-event="Home"
                data-g-label="For Enterprise" href="../analytics/360-suite/data-studio/">Data
                Studio 360 (beta) <svg class="icon-arrow-related" enable-background="new 0 0 32 32"
                height="18px" version="1.1" viewbox="0 0 32 32" width="18px" x="0px" xml:space=
                "preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                "http://www.w3.org/1999/xlink" y="0px">
                <polygon points="16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
                </polygon></svg> <img alt="" class="icon-arrow-related" height="18" src=
                "//www.google.com/ads/images/icons/icon-arrow-related.png" width="18"></a>
                <p class="font-medium-small">
                  Empower everyone to tell better stories and make better decisions with data.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-mobile-apps" id="mobile-apps">
        <div class="site-width">
          <div class="cols-row">
            <div class="col-6">
              <div class="cols-row">
                <div class="col-12">
                  <h4 class="section-sub-heading border-yellow">
                    For Mobile Apps
                  </h4>
                  <h2>
                    Better apps build better businesses.
                  </h2>
                  <p class="font-large">
                    Set yourself up for success by measuring the business value of your app.
                  </p>
                </div>
              </div>
              <div class="hidden-s section-image-s">
                <picture><source media="(min-width: 768px)" srcset=
                "data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAICAgICAgICAgIDAgICAwQDAgIDBAUEBAQEBAUGBQUFBQUFBgYHBwgHBwYJCQoKCQkMDAwMDAwMDAwMDAwMDAz/2wBDAQMDAwUEBQkGBgkNCgkKDQ8ODg4ODw8MDAwMDA8PDAwMDAwMDwwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAACAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABQQAQAAAAAAAAAAAAAAAAAAAAD/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AfwH/2Q==">
                <img alt="" class="" srcset=
                "../analytics/images/funnel/mobile-apps_m_1x.png, ../analytics/images/funnel/mobile-apps_m_2x.png 2x">
                </picture>
              </div>
              <div class="cols-row cards">
                <div class="col-6 col-m-6">
                  <div class="card card-related card-light-gray">
                    <a class="card-inner" data-g-action="Firebase Analytics" data-g-event="Home"
                    data-g-label="For Mobile Apps" href=
                    "https://firebase.google.com?utm_campaign=Firebase_featureoverview_awareness_analytics_en_05-18-16_&amp;utm_source=Firebase&amp;utm_medium=ads">
                    <img alt="" class="product-logo" src=
                    "/ads/images/icons/icon-product-firebase-analytics-64.png">
                    <h3>
                      Firebase Analytics
                    </h3>
                    <p class="last">
                      Is your business app-only? Start with Firebase Analytics for your analytics
                      needs.
                    </p><svg class="icon-arrow-related" enable-background="new 0 0 32 32" height=
                    "16px" version="1.1" viewbox="0 0 32 32" width="16px" x="0px" xml:space=
                    "preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                    "http://www.w3.org/1999/xlink" y="0px">
                    <polygon points=
                    "16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
                    </polygon></svg> <img alt="" class="icon-arrow-related" height="16" src=
                    "//www.google.com/ads/images/icons/icon-arrow-related.png" width="16"></a>
                  </div><a class="button cta-main" data-g-action="Firebase Analytics: Sign Up"
                  data-g-event="Home" data-g-label="For Mobile Apps" href=
                  "https://firebase.google.com/?utm_campaign=Firebase_featureoverview_awareness_analytics_en_05-18-16_&amp;utm_source=Firebase&amp;utm_medium=ads">Get
                  Started</a>
                </div>
                <div class="col-6 col-m-6">
                  <div class="card card-related card-light-gray">
                    <a class="card-inner" data-g-action="Google Analytics for Mobile Apps"
                    data-g-event="Home" data-g-label="For Mobile Apps" href=
                    "../analytics/mobile/"><picture><source media="(min-width: 768px)" srcset=
                    "../analytics/images/icons/analyticsmobileapps_1x.png, ../analytics/images/icons/analyticsmobileapps_2x.png 2x">
                    <img alt="" class="product-logo" srcset=
                    "../analytics/images/icons/analyticsmobileapps_m_1x.png, ../analytics/images/icons/analyticsmobileapps_m_2x.png 2x">
                    </picture>
                    <h3>
                      Google Analytics for mobile apps
                    </h3>
                    <p class="last">
                      Measuring web and app? Learn how to measure across your digital properties in
                      Google Analytics.
                    </p><svg class="icon-arrow-related" enable-background="new 0 0 32 32" height=
                    "16px" version="1.1" viewbox="0 0 32 32" width="16px" x="0px" xml:space=
                    "preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                    "http://www.w3.org/1999/xlink" y="0px">
                    <polygon points=
                    "16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
                    </polygon></svg> <img alt="" class="icon-arrow-related" height="16" src=
                    "//www.google.com/ads/images/icons/icon-arrow-related.png" width="16"></a>
                  </div><a class="button cta-main" data-g-action=
                  "Google Analytics for Mobile Apps: Sign Up" data-g-event="Home" data-g-label=
                  "For Mobile Apps" href=
                  "https://support.google.com/analytics/answer/2587086?hl=en">Get Started</a>
                </div>
              </div>
            </div>
            <div class="col-5 col-offset-1 section-image">
              <picture><source media="(min-width: 768px)" srcset=
              "../analytics/images/funnel/mobile-apps_1x.png, ../analytics/images/funnel/mobile-apps_2x.png 2x">
              <img alt="" class="" srcset=
              "data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAICAgICAgICAgIDAgICAwQDAgIDBAUEBAQEBAUGBQUFBQUFBgYHBwgHBwYJCQoKCQkMDAwMDAwMDAwMDAwMDAz/2wBDAQMDAwUEBQkGBgkNCgkKDQ8ODg4ODw8MDAwMDA8PDAwMDAwMDwwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAACAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABQQAQAAAAAAAAAAAAAAAAAAAAD/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AfwH/2Q==">
              </picture>
            </div>
          </div>
        </div>
      </section>
      <section class="section light-gray featuredcontent-list">
        <div class="site-width">
          <h4 class="section-sub-heading border-yellow">
            Featured
          </h4>
          <div class="cols-row">
            <a class="glue-filter-result col-6 col-m-4 card card-featuredcontent" data-g-action=
            "Featured Resources" data-g-event="Home" data-g-frtopic="Measurement Strategy"
            data-g-frtype="Whitepaper" data-g-label=
            "Discover how marketing analytics increases business performance." href=
            "360-suite/resources/featured/whitepaper-discover-how-marketing-analytics-increases-business-performance.html">
            <div class="card-inner">
              <div class="doctype-container">
                <span class="doctype doctype-whitepaper"><svg enable-background="new 0 0 32 32"
                height="24px" version="1.1" viewbox="0 0 32 32" width="24px" x="0px" xml:space=
                "preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                "http://www.w3.org/1999/xlink" y="0px">
                <path d=
                "M28.5,10.1l-9.9-9.8C18.3,0.1,18,0,17.7,0H4.4C3.7,0,3.1,0.6,3.1,1.3v29.5c0,0.7,0.6,1.3,1.3,1.3h23.2 c0.7,0,1.3-0.6,1.3-1.3V11C28.9,10.7,28.7,10.4,28.5,10.1z M26.4,29.5H5.6v-27h11.5l9.2,9V29.5z">
                </path>
                <rect height="2" width="15" x="8" y="16"></rect>
                <rect height="2" width="15" x="8" y="20"></rect>
                <rect height="2" width="15" x="8" y="24"></rect>
                <path d=
                "M16.3,5.7v6.2c0,0.2,0.1,0.7,0.3,0.7h6c0.4,0,0.6-0.6,0.3-0.8l-6-6.3C16.7,5.1,16.3,5.3,16.3,5.7z">
                </path></svg> <img alt="" height="24" src=
                "//www.google.com/ads/images/icons/icon-doctype-whitepaper.png" width="24"></span>
                <h4 class="doctype-whitepaper-title">
                  Whitepaper
                </h4>
              </div>
              <p class="topic">
                Measurement Strategy
              </p>
              <h3>
                Discover how marketing analytics increases business performance.
              </h3>
              <p>
                Discover the key analytics and measurement challenges that marketers face today and
                how successful marketing organizations are addressing them.
              </p><svg class="icon-arrow-related" enable-background="new 0 0 32 32" height="16px"
              version="1.1" viewbox="0 0 32 32" width="16px" x="0px" xml:space="preserve" xmlns=
              "http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
              <polygon points="16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
              </polygon></svg> <img alt="" class="icon-arrow-related" height="16" src=
              "//www.google.com/ads/images/icons/icon-arrow-related.png" width="16">
            </div></a> <a class="glue-filter-result col-6 col-m-4 card card-featuredcontent"
            data-g-action="Featured Resources" data-g-event="Home" data-g-frtopic=
            "Measurement Strategy" data-g-frtype="Whitepaper" data-g-label=
            "Marketing in the driver&#8217;s seat: Using analytics to create customer value." href=
            "360-suite/resources/featured/whitepaper-marketing-in-the-drivers-seat.html">
            <div class="card-inner">
              <div class="doctype-container">
                <span class="doctype doctype-whitepaper"><svg enable-background="new 0 0 32 32"
                height="24px" version="1.1" viewbox="0 0 32 32" width="24px" x="0px" xml:space=
                "preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                "http://www.w3.org/1999/xlink" y="0px">
                <path d=
                "M28.5,10.1l-9.9-9.8C18.3,0.1,18,0,17.7,0H4.4C3.7,0,3.1,0.6,3.1,1.3v29.5c0,0.7,0.6,1.3,1.3,1.3h23.2 c0.7,0,1.3-0.6,1.3-1.3V11C28.9,10.7,28.7,10.4,28.5,10.1z M26.4,29.5H5.6v-27h11.5l9.2,9V29.5z">
                </path>
                <rect height="2" width="15" x="8" y="16"></rect>
                <rect height="2" width="15" x="8" y="20"></rect>
                <rect height="2" width="15" x="8" y="24"></rect>
                <path d=
                "M16.3,5.7v6.2c0,0.2,0.1,0.7,0.3,0.7h6c0.4,0,0.6-0.6,0.3-0.8l-6-6.3C16.7,5.1,16.3,5.3,16.3,5.7z">
                </path></svg> <img alt="" height="24" src=
                "//www.google.com/ads/images/icons/icon-doctype-whitepaper.png" width="24"></span>
                <h4 class="doctype-whitepaper-title">
                  Whitepaper
                </h4>
              </div>
              <p class="topic">
                Measurement Strategy
              </p>
              <h3>
                Marketing in the driver&#8217;s seat: Using analytics to create customer value.
              </h3>
              <p>
                Discover how leading marketing organizations are using analytics to drive customer
                value and, in turn, driving sales, profit, and shareholder value.
              </p><svg class="icon-arrow-related" enable-background="new 0 0 32 32" height="16px"
              version="1.1" viewbox="0 0 32 32" width="16px" x="0px" xml:space="preserve" xmlns=
              "http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
              <polygon points="16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
              </polygon></svg> <img alt="" class="icon-arrow-related" height="16" src=
              "//www.google.com/ads/images/icons/icon-arrow-related.png" width="16">
            </div></a> <a class="glue-filter-result col-6 col-m-4 card card-featuredcontent"
            data-g-action="Featured Resources" data-g-event="Home" data-g-frtopic=
            "Measurement Strategy" data-g-frtype="Guide" data-g-label=
            "Four ways to measure what matters most." href=
            "360-suite/resources/featured/gms-4ways.html">
            <div class="card-inner">
              <div class="doctype-container">
                <span class="doctype doctype-guide"><svg enable-background="new 0 0 32 32" height=
                "24px" version="1.1" viewbox="0 0 32 32" width="24px" x="0px" xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y=
                "0px">
                <path d=
                "M16,32C7.2,32,0,24.8,0,16C0,7.2,7.2,0,16,0c8.8,0,16,7.2,16,16C32,24.8,24.8,32,16,32z M16,2.7C8.7,2.7,2.7,8.7,2.7,16 c0,7.3,6,13.3,13.3,13.3c7.3,0,13.3-6,13.3-13.3C29.3,8.7,23.3,2.7,16,2.7z">
                </path>
                <path d=
                "M22,8c0.2-1.5-0.7-2-1.9-1.1l-6.5,4.9c-1.2,0.9-2.3,2.9-2.5,4.4l-0.9,8.1c-0.2,1.5,0.7,2,1.9,1.1l6.5-4.9 c1.2-0.9,2.3-2.9,2.5-4.4L22,8z M15,18.3c-1.1-0.6-1.5-2.1-0.9-3.2c0.6-1.1,2.1-1.5,3.2-0.9c1.1,0.6,1.5,2.1,0.9,3.2 C17.6,18.5,16.1,18.9,15,18.3z">
                </path></svg> <img alt="" height="24" src=
                "//www.google.com/ads/images/icons/icon-doctype-guide.png" width="24"></span>
                <h4 class="doctype-guide-title">
                  Guide
                </h4>
              </div>
              <p class="topic">
                Measurement Strategy
              </p>
              <h3>
                Four ways to measure what matters most.
              </h3>
              <p>
                Adopt these best practices to drive success: choose the right metrics, focus on the
                best customers, value the entire path to purchase, and prove impact.
              </p><svg class="icon-arrow-related" enable-background="new 0 0 32 32" height="16px"
              version="1.1" viewbox="0 0 32 32" width="16px" x="0px" xml:space="preserve" xmlns=
              "http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
              <polygon points="16,0 13.2,2.8 24.3,14 0,14 0,18 24.3,18 13.2,29.2 16,32 32,16">
              </polygon></svg> <img alt="" class="icon-arrow-related" height="16" src=
              "//www.google.com/ads/images/icons/icon-arrow-related.png" width="16">
            </div></a>
          </div>
          <div class="cols-row cta">
            <a class="link-more" data-g-action="See all featured resources" data-g-event="Home"
            data-g-label="Featured Resources" href="../analytics/360-suite/resources/featured/">See
            Our Featured Resources <svg class="icon-arrow-more" enable-background="new 0 0 32 32"
            height="14px" version="1.1" viewbox="0 0 32 32" width="14px" x="0px" xml:space=
            "preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
            "http://www.w3.org/1999/xlink" y="0px">
            <path d=
            "M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16c8.8,0,16-7.2,16-16S24.8,0,16,0 M16,25.7L14.3,24l6.8-6.8H7v-2.4h14.1L14.3,8L16,6.3 l9.7,9.7L16,25.7z">
            </path></svg></a>
          </div>
        </div>
      </section>
      <section class="section section-g-plus">
        <div class="site-width">
          <script id="gplus.html" type="text/ng-template">
          <div class="gplus-activity gplus-simple gplus-simple-multiple">
        <div class="cols-row">
          <div class="col-1">
            
  
      
      
      <img class="icon-product" src="//www.google.com/images/branding/product/1x/google_plus_64dp.png" alt="">
    

          </div>
          <div class="col-11">
            <h3>What&#8217;s new?</h3>
            <div class="post-all" ng-if="!gPlusCtrl.data.items"><a href="https://plus.google.com/+GoogleAnalytics/posts" target="_blank">Visit us on Google+</a></div>
            <div class="post-title" ng-repeat="item in gPlusCtrl.data.items">
              <p class="font-medium">
                <strong>{[item.published | date:'MMM d']}:</strong>
                {[item.title]}
                <a href="{[item.url]}" data-g-event="Home" data-g-action="{[item.title]}" data-g-label="Google+" target="_blank">Read more</a>
              </p>
            </div>
          </div>
        </div>
      </div>
          </script>
          <div data-g-plus="GoogleAnalytics" data-opt-quantity="3"></div>
        </div>
      </section>
      <section class="section section-become-a-pro light-gray">
        <div class="site-width">
          <div class="cols-row">
            <div class="col-6 section-intro-content">
              <h4 class="section-sub-heading border-blue">
                Improve your skills
              </h4>
              <h2>
                Analytics Academy
              </h2>
              <p class="font-large">
                Want to be better at analytics? Head to Analytics Academy, where you can get free
                lessons from experts and test your knowledge.
              </p>
              <p class="font-large">
                <a class="link-more" data-g-action="AA: Register For Free" data-g-event="Home"
                data-g-label="Become An Analytics Pro" href=
                "https://analyticsacademy.withgoogle.com" target="moreinfo">Register for free
                <svg class="icon-arrow-more" enable-background="new 0 0 32 32" height="14px"
                version="1.1" viewbox="0 0 32 32" width="14px" x="0px" xml:space="preserve" xmlns=
                "http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <path d=
                "M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16c8.8,0,16-7.2,16-16S24.8,0,16,0 M16,25.7L14.3,24l6.8-6.8H7v-2.4h14.1L14.3,8L16,6.3 l9.7,9.7L16,25.7z">
                </path></svg></a>
              </p>
            </div>
            <div class="col-5 col-offset-1 section-image">
              <a class="link-more" data-g-action="AA: Register For Free" data-g-event="Home"
              data-g-label="Become An Analytics Pro" href="https://analyticsacademy.withgoogle.com"
              target="moreinfo"><img alt="Analytics Academy" class="img-incol" srcset=
              "../analytics/images/shared/analytics-academy_1x.jpg, ../analytics/images/shared/analytics-academy_2x.jpg 2x"></a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer" id="footer" role="contentinfo">
      <div class="site-width">
        <div class="footer-upper cols-row">
          <div class="footer-social col-6">
            <dl>
              <dt>
                Follow us on:
              </dt>
              <dd>
                <a data-g-action="Follow Us" data-g-event="Home" data-g-label="GPlus" href=
                "https://plus.google.com/+GoogleAnalytics/"><svg class="icon-footer-gplus c1"
                height="20px" version="1.1" viewbox="0 0 23 15" width="30px" x="0px" xml:space=
                "preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                "http://www.w3.org/1999/xlink" y="0px">
                <polygon points="23,6 21,6 21,4 19,4 19,6 17,6 17,8 19,8 19,10 21,10 21,8 23,8">
                </polygon>
                <path d=
                "M11.8,8.9c-0.1,1.3-1.3,3.4-4.3,3.4c-2.6,0-4.6-2.1-4.6-4.7S5,2.9,7.5,2.9c1.5,0,2.4,0.6,3,1.1 l0,0l2-2c-1.3-1.2-3-2-5-2C3.4,0.1,0,3.5,0,7.6s3.4,7.5,7.5,7.5c4.3,0,7.2-3,7.2-7.3c0-0.6-0.1-1.1-0.2-1.5h-7V9L11.8,8.9L11.8,8.9 z">
                </path></svg> <img alt="Google+" class="icon-footer-gplus" height="20" src=
                "//www.google.com/ads/images/icons/icon-footer-gplus.png" width="20"></a>
              </dd>
              <dd>
                <a data-g-action="Follow Us" data-g-event="Home" data-g-label="Blogger" href=
                "https://analytics.blogspot.com/"><svg class="icon-footer-blogger"
                enable-background="new 0 0 32 32" height="20px" version="1.1" viewbox="0 0 32 32"
                width="20px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <path d=
                "M28.8,0H3.2C1.4,0,0,1.4,0,3.2l0,25.6C0,30.6,1.4,32,3.2,32h25.6c1.8,0,3.2-1.4,3.2-3.2V3.2 C32,1.4,30.6,0,28.8,0 M22.4,11.2v1.6c0,0.9,0.7,1.6,1.6,1.6c0.9,0,1.6,0.7,1.6,1.6v4.8c0,2.7-2.1,4.8-4.8,4.8h-9.6 c-2.7,0-4.8-2.1-4.8-4.8V9.6c0-2.6,2.1-4.8,4.8-4.8h6.4c2.7,0,4.8,2.2,4.8,4.8V11.2z M12.7,12.8h4.2c0.9,0,1.6-0.7,1.6-1.6 s-0.7-1.6-1.6-1.6h-4.2c-0.9,0-1.6,0.7-1.6,1.6S11.8,12.8,12.7,12.8 M19.2,17.6h-6.5c-0.9,0-1.6,0.7-1.6,1.6c0,0.9,0.7,1.6,1.6,1.6 h6.5c0.9,0,1.6-0.7,1.6-1.6C20.8,18.3,20.1,17.6,19.2,17.6">
                </path></svg> <img alt="Blogger" class="icon-footer-blogger" height="20" src=
                "//www.google.com/ads/images/icons/icon-footer-blogger.png" width="20"></a>
              </dd>
              <dd>
                <a data-g-action="Follow Us" data-g-event="Home" data-g-label="Twitter" href=
                "https://twitter.com/googleanalytics"><svg class="icon-footer-twitter"
                enable-background="new 0 0 32 32" height="20px" version="1.1" viewbox="0 0 32 32"
                width="20px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <path d=
                "M28.8,0H3.2C1.4,0,0,1.4,0,3.2l0,25.6C0,30.6,1.4,32,3.2,32h25.6c1.8,0,3.2-1.4,3.2-3.2V3.2 C32,1.4,30.6,0,28.8,0z M25.1,11.7c-0.1,7.4-4.8,12.5-11.9,12.8c-2.9,0.1-5-0.8-6.9-2c2.2,0.3,4.8-0.5,6.2-1.7 c-2.1-0.2-3.4-1.3-3.9-3c0.6,0.1,1.2,0.1,1.8,0c-1.9-0.6-3.3-1.8-3.3-4.3C7.7,13.7,8.3,13.9,9,14c-1.4-0.8-2.5-3.8-1.3-5.7 c2.1,2.3,4.7,4.2,8.8,4.5c-1-4.5,4.9-6.9,7.4-3.9c1.1-0.2,1.9-0.6,2.7-1c-0.3,1-1,1.8-1.8,2.4c0.9-0.1,1.6-0.3,2.3-0.7 C26.8,10.3,25.9,11.1,25.1,11.7z">
                </path></svg> <img alt="Twitter" class="icon-footer-twitter" height="20" src=
                "//www.google.com/ads/images/icons/icon-footer-twitter.png" width="20"></a>
              </dd>
              <dd>
                <a data-g-action="Follow Us" data-g-event="Home" data-g-label="Youtube" href=
                "https://www.youtube.com/user/googleanalytics"><svg class="icon-footer-youtube"
                enable-background="new 0 0 32 32" height="20px" version="1.1" viewbox="0 0 32 32"
                width="20px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <path d=
                "M28.8,3.8c-1-0.3-6.9-0.6-12.8-0.6c-5.9,0-11.8,0.3-12.8,0.6C0.7,4.6,0,10.2,0,16s0.7,11.4,3.2,12.2c1,0.3,6.9,0.6,12.8,0.6 c5.9,0,11.8-0.3,12.8-0.6C31.3,27.4,32,21.8,32,16S31.3,4.7,28.8,3.8 M12.8,22.4V9.6l8.8,6.4L12.8,22.4z">
                </path></svg> <img alt="YouTube" class="icon-footer-youtube" height="20" src=
                "//www.google.com/ads/images/icons/icon-footer-youtube.png" width="20"></a>
              </dd>
            </dl>
          </div>
          <div class="footer-meta-links col-6">
            <ul>
              <li>
                <a href="https://www.google.com/appsstatus#hl=en">Apps Status Dashboard</a>
              </li>
              <li>
                <a href="../analytics/terms/us.html">Terms of Service</a>
              </li>
            </ul>
          </div>
        </div>
        <nav class="footer-nav cols-row">
          <dl class="col-3">
            <dt>
              Learning &amp; Support
            </dt>
            <dd>
              <a href="https://support.google.com/analytics/?hl=en#topic=3544906">Help Center</a>
            </dd>
            <dd>
              <a href=
              "https://www.en.advertisercommunity.com/t5/Google-Analytics/ct-p/Google_Analytics">User
              Forum</a>
            </dd>
            <dd>
              <a href="https://www.google.com/analytics/gallery/">Solutions Gallery</a>
            </dd>
            <dd>
              <a href="https://analyticsacademy.withgoogle.com/explorer">Analytics Academy</a>
            </dd>
            <dd>
              <a href="https://www.google.com/analytics/partners/search/apps">Partner Gallery</a>
            </dd>
          </dl>
          <dl class="col-3">
            <dt>
              Developers
            </dt>
            <dd>
              <a href="https://developers.google.com/analytics/?hl=en">Google Analytics Developer
              Site</a>
            </dd>
            <dd>
              <a href="https://ga-dev-tools.appspot.com/">Demos &amp; Tools</a>
            </dd>
            <dd>
              <a href="https://developers.google.com/analytics/help/?hl=en">Help &amp;
              Communities</a>
            </dd>
            <dd>
              <a href="https://developers.google.com/analytics/program/?hl=en">Technology Partner
              Program</a>
            </dd>
          </dl>
          <dl class="col-3">
            <dt>
              Related Products
            </dt>
            <dd>
              <a href="https://www.google.com/adwords/">AdWords</a>
            </dd>
            <dd>
              <a href="https://www.google.com/doubleclick/">DoubleClick</a>
            </dd>
            <dd>
              <a href=
              "https://www.google.com/adsense/start/?subid=ww-ww-et-analytics-site&amp;utm_source=internal&amp;utm_medium=et&amp;utm_campaign=analytics-site">
              AdSense</a>
            </dd>
            <dd>
              <a href=
              "https://www.google.com/admob/?subid=ww-ww-et-analytics-site&amp;utm_source=internal&amp;utm_medium=et&amp;utm_campaign=analytics-site">
              AdMob</a>
            </dd>
          </dl>
          <dl class="col-3">
            <dt>
              More Solutions from Google
            </dt>
            <dd>
              <a href="https://www.google.com/services/">Business Solutions</a>
            </dd>
            <dd>
              <a href="https://www.google.com/insights/">Google Insights</a>
            </dd>
            <dd>
              <a href="https://www.google.com/intx/en/work/apps/business/">Google Apps for Work</a>
            </dd>
            <dd>
              <a href="https://www.google.com/retail/">Google for Retail</a>
            </dd>
            <dd>
              <a href="https://www.thinkwithgoogle.com/topics/measurement.html">Think with
              Google</a>
            </dd>
          </dl>
        </nav>
        <div class="footer-lower cols-row">
          <div class="footer-meta-links col-8">
            <ul>
              <li>
                <a href="https://support.google.com/analytics/?hl=en#topic=3544906"><svg class=
                "icon-footer-help" enable-background="new 0 0 32 32" height="20px" version="1.1"
                viewbox="0 0 32 32" width="20px" x="0px" xml:space="preserve" xmlns=
                "http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <path clip-rule="evenodd" d=
                "M16,0C7.2,0,0,7.2,0,16c0,3,0.9,5.9,2.3,8.3L0,32l7.7-2.3 C10.2,31.1,13,32,16,32c8.8,0,16-7.2,16-16C32,7.2,24.8,0,16,0z M17.3,24.6c-0.3,0.3-0.7,0.5-1.2,0.5s-1-0.2-1.2-0.5 c-0.3-0.3-0.4-0.7-0.4-1.1c0-0.2,0-0.4,0.1-0.6c0.1-0.2,0.2-0.4,0.3-0.5c0.1-0.1,0.3-0.3,0.5-0.3c0.2-0.1,0.4-0.1,0.7-0.1 c0.3,0,0.5,0,0.7,0.1c0.2,0.1,0.4,0.2,0.5,0.3c0.1,0.1,0.3,0.3,0.3,0.5c0.1,0.2,0.1,0.4,0.1,0.6C17.7,24,17.6,24.3,17.3,24.6z M21.1,13.2c-0.2,0.5-0.4,0.9-0.6,1.3c-0.3,0.4-0.6,0.8-0.9,1.2c-0.3,0.4-0.7,0.8-1,1.1c-0.4,0.4-0.7,0.9-0.9,1.4 c-0.2,0.5-0.2,0.8-0.3,1.8h-2.8c0-1,0-1.2,0.1-1.6c0.1-0.4,0.2-1,0.3-1.3c0.2-0.3,0.4-0.7,0.6-1c0.2-0.3,0.6-0.7,0.9-1 c0.2-0.3,0.5-0.5,0.7-0.7c0.2-0.2,0.4-0.5,0.6-0.7c0.2-0.3,0.3-0.5,0.4-0.8c0.1-0.3,0.1-0.6,0.1-1c0-0.8-0.2-1.4-0.6-1.8 c-0.4-0.4-1-0.6-1.7-0.6c-0.3,0-0.6,0.1-0.9,0.1c-0.3,0.1-0.5,0.2-0.8,0.4s-0.4,0.6-0.5,0.8c-0.1,0.3-0.2,1.2-0.2,1.2h-3 c0-2,0.2-1.6,0.4-2.2c0.3-0.6,0.7-1.2,1.1-1.6c0.5-0.4,1-0.7,1.7-0.9C14.6,7,15.3,6.9,16,6.9c0.8,0,1.6,0.1,2.2,0.3 c0.7,0.2,1.2,0.5,1.7,0.9c0.5,0.4,0.8,0.9,1,1.5c0.2,0.6,0.4,1.3,0.4,2.1C21.3,12.3,21.2,12.8,21.1,13.2z"
                fill-rule="evenodd"></path></svg> <img alt="Help" class="icon-footer-help" height=
                "20" src="//www.google.com/ads/images/icons/icon-footer-help.png" width="20">
                Help</a>
              </li>
              <li>
                <a href="//www.google.com">Google</a>
              </li>
              <li>
                <a href="//www.google.com/intl/en/policies/privacy/">Privacy</a>
              </li>
              <li>
                <a href="//www.google.com/intl/en/policies/terms/">Terms</a>
              </li>
            </ul>
          </div>
          <div class="footer-locale-switcher col-4">
            <label class="visually-hidden" for="footer-locales"><span>Change language or
            region:</span></label> <select class="footer-locales" id="footer-locales" onchange=
            "var href=this[this.selectedIndex].value;if(href!=''){window.location.href=href};">
              <option value="//www.google.com/intl/id/analytics/">
                Bahasa Indonesia
              </option>
              <option value="//www.google.com/intl/ca/analytics/">
                Catal&#224;
              </option>
              <option value="//www.google.com/intl/cs/analytics/">
                &#268;e&#353;tina
              </option>
              <option value="//www.google.com/intl/da/analytics/">
                Dansk
              </option>
              <option value="//www.google.com/intl/de/analytics/">
                Deutsch
              </option>
              <option value="//www.google.com/intl/en/analytics/">
                English
              </option>
              <option selected value="//www.google.com/intl/en/analytics/">
                English
              </option>
              <option value="//www.google.co.uk/intl/en/analytics/">
                English &#8211; United Kingdom
              </option>
              <option value="//www.google.com/intl/es/analytics/">
                Espa&#241;ol
              </option>
              <option value="//www.google.com/intl/tl/analytics/">
                Filipino
              </option>
              <option value="//www.google.com/intl/fr/analytics/">
                Fran&#231;ais
              </option>
              <option value="//www.google.com/intl/it/analytics/">
                Italiano
              </option>
              <option value="//www.google.com/intl/lt/analytics/">
                Lietuvi&#371;
              </option>
              <option value="//www.google.com/intl/hu/analytics/">
                Magyar
              </option>
              <option value="//www.google.com/intl/nl/analytics/">
                Nederlands
              </option>
              <option value="//www.google.com/intl/no/analytics/">
                Norsk
              </option>
              <option value="//www.google.com/intl/pl/analytics/">
                Polski
              </option>
              <option value="//www.google.com/intl/pt-BR/analytics/">
                Portugu&#234;s (Brasil)
              </option>
              <option value="//www.google.com/intl/pt-PT/analytics/">
                Portugu&#234;s (Portugal)
              </option>
              <option value="//www.google.com/intl/sk/analytics/">
                Sloven&#269;ina
              </option>
              <option value="//www.google.com/intl/fi/analytics/">
                Suomi
              </option>
              <option value="//www.google.com/intl/sv/analytics/">
                Svenska
              </option>
              <option value="//www.google.com/intl/vi/analytics/">
                Ti&#7871;ng Vi&#7879;t
              </option>
              <option value="//www.google.com/intl/tr/analytics/">
                T&#252;rk&#231;e
              </option>
              <option value="//www.google.com/intl/el/analytics/">
                &#917;&#955;&#955;&#951;&#957;&#953;&#954;&#940;
              </option>
              <option value="//www.google.com/intl/bg/analytics/">
                &#1041;&#1098;&#1083;&#1075;&#1072;&#1088;&#1089;&#1082;&#1080;
              </option>
              <option value="//www.google.com/intl/ru/analytics/">
                &#1056;&#1091;&#1089;&#1089;&#1082;&#1080;&#1081;
              </option>
              <option value="//www.google.com/intl/th/analytics/">
                &#3652;&#3607;&#3618;
              </option>
              <option value="//www.google.com/intl/ko/analytics/">
                &#54620;&#44397;&#50612;
              </option>
              <option value="//www.google.com/intl/zh-CN/analytics/">
                &#20013;&#25991;&#65288;&#31616;&#20307;&#20013;&#25991;&#65289;
              </option>
              <option value="//www.google.com/intl/zh-TW/analytics/">
                &#20013;&#25991;&#65288;&#32321;&#39636;&#20013;&#25991;&#65289;
              </option>
              <option value="//www.google.com/intl/ja/analytics/">
                &#26085;&#26412;&#35486;
              </option>
            </select>
          </div>
        </div>
      </div>
    </footer>
    <script src="//www.gstatic.com/external_hosted/picturefill/picturefill.min.js">
    </script> 
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
    </script> 
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js">
    </script> 
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js">
    </script> 
    <script src="/analytics/js/analytics.min.js">
    </script> 
    <script>
    dataLayer = [{
      'country': 'us',
      'region': 'noram',
      'language': 'en',
      'pageCategory': 'Google Analytics Home',
      'pageSubCategory': 'Home',
      'eID': 'index.html',
      'visitorType': 'recognized'
    }];
    </script> <noscript><iframe class="c2" height="0" src=
    "//www.googletagmanager.com/ns.html?id=GTM-KLXF7H" width="0"></iframe></noscript> 
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KLXF7H');
    </script>
  </body>
</html>